.u-section-1 .u-sheet-1 {min-height: 655px}
.u-section-1 .u-layout-wrap-1 {pointer-events: auto; margin: 0 auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 655px; pointer-events: auto}
.u-section-1 .u-container-layout-1 {padding: 30px 60px}
.u-section-1 .u-icon-1 {height: 48px; width: 48px; background-image: none; margin: 0 auto}
.u-section-1 .u-text-1 {margin: 30px 0 0}
.u-section-1 .u-text-2 {margin: 20px 0 0}
.u-section-1 .u-btn-1 {border-style: none none solid; margin-left: auto; margin-right: auto; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 1px; padding: 0}
.u-section-1 .u-image-1 {min-height: 655px; pointer-events: auto; background-image: url("images/e6105a8d-b9f4-ee28-0962-e02dee5da071.jpg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-2 {padding: 30px 60px} 

@media (max-width: 1199px){ .u-section-1 {min-height: 318px}
.u-section-1 .u-sheet-1 {min-height: 203px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 540px}
.u-section-1 .u-image-1 {min-height: 540px} }

@media (max-width: 991px){ .u-section-1 {min-height: 66px}
.u-section-1 .u-sheet-1 {min-height: 77px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-image-1 {min-height: 414px}
.u-section-1 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-1 .u-container-layout-1 {padding-left: 50px; padding-right: 50px}
.u-section-1 .u-image-1 {min-height: 621px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-image-1 {min-height: 391px} }